    <!-- Perso -->
    <script src="js/main.js"></script>
    <script src="js/users/loginUser.js"></script>
    <script src="js/users/loginuser_tictactoe.js"></script>
    <script src="js/users/signup_tictactoe.js"></script>
    <script src="js/users/profil_tictactoe.js"></script>




    <script src="js/users/signup.js"></script>
    <script src="js/users/profil.js"></script>
    
    <!-- Directives -->
    <script src="js/angular/directives/scrollglue.js"></script>

    <!-- socket.io -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/worldchat/chat.js"></script>
    <script src="js/tictactoe.js"></script>

    
</body>
</html>