{% include 'templates/header.html' %}


<div id="wrapper">
    {% include 'templates/nav.html' %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
        <!-- Content -->
        <div class="container">
            <canvas id="c"></canvas>
            <div class="profil" ng-controller='profil'>

                <div class="welcome-profil">
                    <h1 class="message-profil">{{ message }}</h1>
                </div>
                <div class="formProfil">
                        <img class="img-profil" src="{{ image }}" alt="image">
                        <div class="infoProfil">
                            <div class="mail-profil">
                                <label for="mail-profil">Addresse mail</label>
                                <p id="mail-profil">{{ mail }}</p>
                            </div>
                            <div class="username-profil">
                                <label for="username-profil">Pseudo</label>
                                <p id="username-profil">{{ username }}</p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    {% include 'templates/footer.html' %}